body
{
    background-color: rgb(21, 21, 21) !important;
}
header
{
background-image: url('../images/code.png');
background-repeat: no-repeat;
height: 423px;
width: 100%;
}

.profile
{
    width: 214px;
    height: 208px;
    border-radius: 104px;
}

.sidetxt
{
    font-family: SF Pro Display;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    color: #FEFEFE;
}
.toptitle
{
    color: #C58654;
    font-weight: bold;
}

.top-buffer { margin-top:20px; }