html {
    box-sizing: border-box;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  
  nav{
      position: absolute;
      z-index: 100000;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  html {
    width: 100%;
    height: 100%;
    z-index: 10000;
    border: 1px solid black;
  }
  
  .body {
    background: #161616;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 60px;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    padding: 40px 0;
  }
  
  .open {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear;
  }
  .open:hover {
    opacity: 0.8;
  }
  .open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background: #858484;
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  .open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
  }
  .open span:nth-child(2) {
    margin-top: 25px;
  }
  .open span:nth-child(3) {
    margin-top: 40px;
  }
  
  .sub-menu {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background: #000000;
    background: -webkit-linear-gradient(240deg, #302f2f, #2c2b2b, #03020249);
    background: linear-gradient(240deg, #302f2f, #2c2b2b, #000000);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
  }
  .sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .sub-menu li:first-child {
    margin-top: 180px;
  }
  .sub-menu li:nth-child(1) {
    -webkit-transition-delay: 0.05s;
  }
  .sub-menu li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
  }
  .sub-menu li:nth-child(3) {
    -webkit-transition-delay: 0.15s;
  }
  .sub-menu li:nth-child(4) {
    -webkit-transition-delay: 0.2s;
  }
  .sub-menu li:nth-child(5) {
    -webkit-transition-delay: 0.25s;
  }
  .sub-menu li a {
    color: #fff;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 40px;
  }
  
  .oppenned .sub-menu {
    opacity: 1;
    height: 400px;
    width: 400px;
  }
  .oppenned span{
    background-color: white;
  }
  .oppenned span:nth-child(2) {
    overflow: visible;
  }
  .oppenned span:nth-child(1),
  .oppenned span:nth-child(3) {
    z-index: 100;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .oppenned span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
            transform: rotate(45deg) translateY(12px) translateX(12px);
  }
  .oppenned span:nth-child(2) {
    height: 400px;
    width: 400px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    background: #000000;
    background: -webkit-linear-gradient(240deg, #302f2f, #2c2b2b, #03020249);
    background: linear-gradient(240deg, #302f2f, #2c2b2b, #000000);
  }
  .oppenned span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
            transform: rotate(-45deg) translateY(-10px) translateX(10px);
  }
  .oppenned li {
    margin-right: 168px;
  }
  
  .button {
    display: block;
    float: left;
    clear: both;
    padding: 20px 40px;
    background: #fff;
    border-radius: 3px;
    border: 2px solid #2c2b2b;
    overflow: hidden;
    position: relative;
  }
  .button:after {
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    content: "";
    position: absolute;
    height: 200px;
    width: 400px;
    -webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);
            transform: rotate(45deg) translateX(-540px) translateY(-100px);
    background: #2c2b2b;
    z-index: 1;
  }
  .button:before {
    transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 2;
    text-align: center;
    padding: 20px 40px;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  .button:hover {
    text-decoration: none;
  }
  .button:hover:after {
    -webkit-transform: translateX(-300px) translateY(-100px);
            transform: translateX(-300px) translateY(-100px);
  }
  .button:hover:before {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  